/* css初始化 */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    /*font-family: ;*/
    background: #eeeeee;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 高大上的浮动清除 */
.clear-float {
    zoom: 1;
}

.clear-float:after{
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
}
/* over */

/* wrapper整体宽高 */

.wrapper {
    width: 980px;
    height: 1386px;
    margin: 0 auto;
}

/* header顶部导航部分 */

.header {
    width: 892px;
    height: 61px;
    margin: 0 auto;
    border-bottom: 2px solid #938e8c;
}

.hd-left {
    float: left;
    position: relative;
    width: 110px;
    height: 61px;
    background: #cf5456;
}

.hd-left span {
    position: absolute;
    bottom: 3px;
    left: 14px;
    font-size: 12px;
    font-family: "微软雅黑", serif;
    color: #ffffff;
}

.hd-right {
    float: right;
    position: relative;
    width: 110px;
    height: 60px;
}

.hd-right span {
    position: absolute;
    bottom: 3px;
    right: 14px;
    color: #d45d5c;
    font-family: 黑体, serif;
}
/* over */

/* main主体部分*/

.main {
    width: 892px;
    margin: 0 auto;
}


/* 主体top上部分 */
.main-top {
    width: 892px;
    height: 301px;
    margin-top: 30px;
}

.top-left {
    float: left;
    width: 641px;
    height: 301px;
    position: relative;
}

.top-left .box-green, .top-left .box-red {
    width: 191px;
    height: 301px;
    position: absolute;
    z-index: 2;
    opacity: 0.5;
}

.box-green {
    left: 0;
    background: #6eb367;
}

.box-red {
    right: 0;
    background: #cf5456;
}

.top-left .box-img {
    width: 641px;
    height: 301px;
    position: absolute;
    z-index: 1;
}

.box-img>img {
    width: 641px;
    height: 301px;
}

.top-right {
    float: right;
    width: 203px;
    height: 299px;
    border-top: 2px solid #cc8091;
    position: relative;
}

.top-right h2 {
    font-size: 24px;
    font-family: 微软雅黑, serif;
    color: #000000;
    line-height: 40px;
    text-decoration: underline;
}

.top-right p:nth-of-type(1) {
    font-size: 12px;
    font-family: 楷体, serif;
    color: #676767;
    line-height: 10px;
}

.top-right p:nth-of-type(2) {
    font-family: 微软雅黑, serif;
    font-size: 105px;
    color: #75b86b;
    transform: skew(-20deg);
}

.top-right p:nth-of-type(3) {
    width: 70px;
    font-family: 微软雅黑, serif;
    font-size: 48px;
    color: #cc8091;
    position: absolute;
    left: 0;
    bottom: 0;
}

.top-right p:nth-of-type(4) {
    font-family: 微软雅黑, serif;
    font-size: 21px;
    color: #cc8091;
    position: absolute;
    left: 70px;
    bottom: 24px;
}

.top-right p:nth-of-type(5) {
    font-family: 微软雅黑, serif;
    font-size: 12px;
    color: #cc8091;
    position: absolute;
    left: 70px;
    bottom: 7px;
}
/* main主体 top部分结束 */

/* main主体 mid部分开始 */
.main-mid {
    width: 892px;
    margin-top: 30px;
}

.mid-left {
    float: left;
    width: 230px;
}

.mid-left h2 {
    font-size: 16px;
    color: #418c59;
    font-family: 微软雅黑, serif;
    font-weight: bold;
    text-decoration: underline;
}

.mid-left p {
    margin-top: 12px;
    font-size: 12px;
    color: #767777;
    font-family: 宋体, serif;
    line-height: 16px;
}

.mid-center {
    float: left;
    margin-left: 20px;
    width: 210px;
}

.mid-center h2 {
    font-size: 16px;
    color: #d2994f;
    font-family: 微软雅黑, serif;
    font-weight: bold;
    text-decoration: underline;
}

.mid-center p {
    margin-top: 12px;
    font-size: 12px;
    color: #231815;
    font-family: 微软雅黑, serif;
    line-height: 16px;
    opacity: 0.7;
}

.mid-right {
    float: left;
    margin-left: 20px;
    width: 180px;
}

.mid-right h2 {
    font-size: 16px;
    color: #cc7680;
    font-family: 微软雅黑, serif;
    font-weight: bold;
    text-decoration: underline;
}

.mid-right p:nth-of-type(1) {
    margin-top: 12px;
    font-size: 12px;
    color: #231815;
    font-family: 微软雅黑, serif;
    font-style: oblique;
    line-height: 16px;
    opacity: 0.7;
}

.mid-right p:nth-of-type(2) {
    margin-top: 40px;
    font-size: 12px;
    color: #231815;
    font-family: 微软雅黑, serif;
    font-style: oblique;
    line-height: 16px;
    opacity: 0.7;
}

.mid-right p:nth-of-type(2) span {
    color: #cc7680;
}
/* main主体 mid部分结束*/

/* main主体 button部分开始*/
.main-button {
    width: 892px;
    margin-top: 50px;
}

.button-left {
    float: left;
    width: 415px;
}

.left-title {
    width: 415px;
    border-bottom: 2px #11456b solid;
}

.left-title h2 {
    font-size: 42px;
    font-family: 黑体, serif;
    font-weight: bold;
    color: #11456b;
    line-height: 51px;
}

.left-title h2>span {
    font-size: 72px;
    font-family: 黑体, serif;
    font-weight: bold;
    color: #f5e327;
    /*transform: skew(-20deg);*/
    /*使用transform需要设置display为block，所以这里设置为font-style*/
    font-style: italic;
    margin-right: 25px;
}

.left-title h2:nth-of-type(3) {
    font-size: 33px;
}

.left-content {
    margin-top: 20px;
}
.left-content p {
    display: block;
    font-size: 12px;
    font-family: 宋体, serif;
    line-height: 16px;
    color: #767777;
}

.left-content p>span {
    font-size: 70px;
    font-family: 微软雅黑, serif;
    color: #f5e327;
}

.left-content img {
    width: 177px;
    height: 308px;
}

.button-right {
    float: right;
    width: 458px;
}

.button-right .right-top img {
    width: 458px;
    height: 275px;

}