/* css初始化 */


* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    background: #eeeeee;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 高大上的浮动清除 */
.clear-float {
    zoom: 1;    /* 为了适配IE7,IE8 */
}

.clear-float:after{
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
}
/* over */

/* wrapper整体宽高 */

.wrapper {
    width: 980px;
    height: 1386px;
    margin: 0 auto;
}

/* 头部导航部分 */

.header {
    width: 892px;
    height: 61px;
    margin: 0 auto;
    border-bottom: 2px solid #938e8c;
}

.hd-left {
    float: left;
    position: relative;
    width: 110px;
    height: 61px;
    background: #cf5456;
}

.hd-left span {
    position: absolute;
    bottom: 3px;
    left: 14px;
    font-size: 12px;
    font-family: "微软雅黑", serif;
    color: #ffffff;
}

.hd-right {
    float: right;
    position: relative;
    width: 110px;
    height: 60px;
}

.hd-right span {
    position: absolute;
    bottom: 3px;
    right: 14px;
    color: #d45d5c;
    font-family: 黑体, serif;
}
/* header over */

/* 主体页面部分 */

.main {
    width: 892px;
    margin: 0 auto;
}
/* 主体页面部分结束 */

/* 主体上部分 */
.main-top {
    width: 892px;
    height: 301px;
    margin-top: 30px;
}

.main-top-left {
    float: left;
    width: 641px;
    height: 301px;
    position: relative;
}

.main-top-left .box-green, .main-top-left .box-red {
    width: 191px;
    height: 301px;
    position: absolute;
    z-index: 2;
    opacity: 0.5;
}

.box-green {
    left: 0;
    background: #6eb367;
}

.box-red {
    right: 0;
    background: #cf5456;
}

.main-top-left .box-img {
    width: 641px;
    height: 301px;
    position: absolute;
    z-index: 1;
}

.main-top-left .box-img>img {
    width: 641px;
    height: 301px;
}

.main-top-right {
    float: right;
    width: 203px;
    height: 299px;
    border-top: 2px solid #cc8091;
    position: relative;
}

.main-top-right h2 {
    font-size: 24px;
    font-family: 微软雅黑, serif;
    color: #000000;
    line-height: 40px;
    text-decoration: underline;
}

.main-top-right p:nth-of-type(1) {
    font-size: 12px;
    font-family: 楷体, serif;
    color: #676767;
    line-height: 10px;
}

.main-top-right p:nth-of-type(2) {
    font-family: 微软雅黑, serif;
    font-size: 105px;
    color: #75b86b;
    transform: skew(-20deg);
}

.main-top-right p:nth-of-type(3) {
    width: 70px;
    font-family: 微软雅黑, serif;
    font-size: 48px;
    color: #cc8091;
    position: absolute;
    left: 0;
    bottom: 0;
}

.main-top-right p:nth-of-type(4) {
    font-family: 微软雅黑, serif;
    font-size: 21px;
    color: #cc8091;
    position: absolute;
    left: 70px;
    bottom: 24px;
}

.main-top-right p:nth-of-type(5) {
    font-family: 微软雅黑, serif;
    font-size: 12px;
    color: #cc8091;
    position: absolute;
    left: 70px;
    bottom: 7px;
}
/* 主体上部分结束 */

/* 主体中部分开始 */
.main-mid {
    width: 892px;
    margin-top: 30px;
}

.main-mid-left {
    float: left;
    width: 230px;
}

.main-mid-left h2 {
    font-size: 16px;
    color: #418c59;
    font-family: 微软雅黑, serif;
    font-weight: bold;
    text-decoration: underline;
}

.main-mid-left p {
    margin-top: 12px;
    font-size: 12px;
    color: #767777;
    font-family: 宋体, serif;
    line-height: 16px;
}

.main-mid-center {
    float: left;
    margin-left: 20px;
    width: 210px;
}

.main-mid-center h2 {
    font-size: 16px;
    color: #d2994f;
    font-family: 微软雅黑, serif;
    font-weight: bold;
    text-decoration: underline;
}

.main-mid-center p {
    margin-top: 12px;
    font-size: 12px;
    color: #231815;
    font-family: 微软雅黑, serif;
    line-height: 16px;
    opacity: 0.7;
}

.main-mid-right {
    float: left;
    margin-left: 20px;
    width: 180px;
}

.main-mid-right h2 {
    font-size: 16px;
    color: #cc7680;
    font-family: 微软雅黑, serif;
    font-weight: bold;
    text-decoration: underline;
}

.main-mid-right p:nth-of-type(1) {
    margin-top: 12px;
    font-size: 12px;
    color: #231815;
    font-family: 微软雅黑, serif;
    font-style: oblique;
    line-height: 16px;
    opacity: 0.7;
}

.main-mid-right p:nth-of-type(2) {
    margin-top: 40px;
    font-size: 12px;
    color: #231815;
    font-family: 微软雅黑, serif;
    font-style: oblique;
    line-height: 16px;
    opacity: 0.7;
}

.main-mid-right p:nth-of-type(2) span {
    color: #cc7680;
}
/* 主体中部分结束*/

/* 主体下部分开始*/
.main-button {
    width: 892px;
    margin-top: 50px;
}

.main-button-left {
    float: left;
    width: 416px;
}

.button-left-title {
    width: 416px;
    border-bottom: 2px #11456b solid;
}

.button-left-title h2 {
    font-size: 42px;
    font-family: 黑体, serif;
    font-weight: bold;
    color: #11456b;
    line-height: 51px;
}

.button-left-title h2>span {
    font-size: 72px;
    font-family: 黑体, serif;
    font-weight: bold;
    color: #f5e327;
    /*transform: skew(-20deg);*/
    /*使用transform需要设置display为block，所以这里设置为font-style*/
    font-style: italic;
    margin-right: 25px;
}

.button-left-title h2:nth-of-type(3) {
    font-size: 33px;
}

.button-left-content {
    margin-top: 25px;
    width: 416px;
}
.button-left-content p {
    font-size: 12px;
    font-family: 宋体, serif;
    line-height: 16px;
    color: #767777;
}

.button-left-content p>span {
    float: left;
    font-size: 70px;
    line-height: 70px;  /*如果不设置“前”字就会溢出上边界，和*/
    font-family: 微软雅黑, serif;
    color: #f5e327;
    margin-right: 10px;
    margin-bottom: 10px;
}

.button-left-content img {
    float: right;
    width: 167px;
    height: 290px;
    margin: 16px 0 10px 15px;   /* 上右下左 */
}

.main-button-right {
    float: right;
    width: 458px;
}

.button-right-top {
    position: relative;
    width: 458px;
    height: 275px;
}

.button-right-top-pic {
    position: absolute;
    z-index: 1;
}

.button-right-top-pic img{
    width: 458px;
    height: 275px;
}

.button-right-top-shadow1 {
    width: 458px;
    height: 275px;
    background: #ffffff;
    position: absolute;
    z-index: 2;
    opacity: 0.4;
}

.button-right-top-shadow2 {
    width: 458px;
    height: 61px;
    bottom: 0;
    position: absolute;
    z-index: 3;
    background: #000000;
    opacity: 0.3;
}

.button-right-top-title {
    width: 270px;
    height: 44px;
    position: absolute;
    bottom: 10px;
    z-index: 4;
    left: 38px;
}

.right-top-title-box {
    float: left;
    width: 127px;
    height: 44px;
    line-height: 44px;
    border-left: 3px solid #72b16a;
}

.right-top-title-box p {
    color: #ffffff;
    font-size: 26px;
    font-family: 微软雅黑, serif;
    text-align: center;
}

.right-top-title-content {
    float: left;
    width: 140px;
    height: 44px;
}

.right-top-title-content p {
    font-size: 16px;
    font-family: 微软雅黑, serif;
    font-style: italic;
    color: #72b16a;
    position: absolute;
    bottom: 5px;
}

.button-right-button {
    width: 458px;
    height: 328px;
    background: #ececd2;
    margin-top: 20px;

}

.button-right-button>p {
    font: italic 21px 黑体, serif;
    line-height: 45px;
    position: relative;
    left: 30px;
    top: 30px;
}

.button-right-button>p::before {
    /* CSS3 引入 ::before  是为了将伪类和伪元素区别开来
       浏览器也接受由CSS 2 引入的 :before 写法 */
    content: "";    /* 先插入空白元素，再使用CSS画出三角形*/
    height: 0;
    border-bottom: 10px  solid #10456b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    /* 原理：下边框线10px，左右边框线5px
        实际上就是将一个10px大小的正方形从中间分开为两个宽5px高10px的长方形
        左右设置透明就是将长方形沿对角线分成两个三角形，一半透明，一半不透明
        组合起来就是一个三角形了*/
    position: absolute;
}
